<footer id="footer" class="footer">

    <div class="container footer-top">
        <div class="row gy-4">

            <div class="col-lg-5 col-md-12 footer-about">
                <a href="/" class="logo d-flex align-items-center">
                    <span class="sitename">PukHub</span>
                </a>
                <p>Comunitatea #1 de boosting și coaching pentru gameri competitivi. Fie că vrei să urci în ranked sau să înveți de la cei mai buni, te ajutăm să-ți atingi potențialul.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#"><i class="bi bi-discord"></i></a>
                    <a href="#"><i class="bi bi-twitch"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Linkuri rapide</h4>
                <ul>
                    <li><a href="/">Acasă</a></li>
                    <li><a href="/#about">Despre noi</a></li>
                    <li><a href="/#services">Servicii</a></li>
                    <li><a href="/#faq">Întrebări frecvente</a></li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Servicii populare</h4>
                <ul>
                    <li><a href="#">Boosting Valorant</a></li>
                    <li><a href="#">Boosting LoL</a></li>
                    <li><a href="#">Coaching CS2</a></li>
                    <li><a href="#">Boosting Minecraft</a></li>
                    <li><a href="#">EUNE & EUW Boost</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact</h4>
                <p>Strada Cristofor</p>
                <p>Iași, România</p>
                <p><strong>Telefon:</strong> <span>+40 745 599 802</span></p>
                <p><strong>Email:</strong> <span>contact@PukHub.ro</span></p>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <strong class="sitename">PukHub</strong> 2025. Toate drepturile rezervate.</p>
    </div>

</footer>
